<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>18. Authenticate</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->
        <nav id="menu_nav">
            <ul>
                <li><a href="node_proyect.html" target="_blank">01. Crear proyecto</a></li>
                <li><a href="express.html" target="_blank">02. Express</a></li>
                <li><a href="nodemon.html" target="_blank">03. Nodemon</a></li>
                <li><a href="credenciales.html" target="_blank">04. Credenciales DB</a></li>
                <li><a href="environments.html" target="_blank">05. Environments</a></li>
                <li><a href="mysql.html" target="_blank">06. Mysql connect</a></li>
                <li><a href="auth-mysql.html" target="_blank">07. Auth mysql</a></li>
                <li><a href="crud-mysql.html" target="_blank">08. Crud mysql</a></li>
                <li><a href="mongo.html" target="_blank">09. Mongo connect</a></li>
                <li><a href="schema.html" target="_blank">10. Mongo schema</a></li>
                <li><a href="auth-mongo.html" target="_blank">11. Auth mongo</a></li>
                <li><a href="crud-mongo.html" target="_blank">12. Crud mongo</a></li>
                <li><a href="rutas.html" target="_blank">13. Routes config</a></li>
                <li><a href="middlewares.html" target="_blank">14. Middlewares</a></li>
                <li><a href="bcrypt.html" target="_blank">15. Bcrypt</a></li>
                <li><a href="jwt.html" target="_blank">16. Jsonwebtoken</a></li>
                <li><a href="exp-validator.html" target="_blank">17. Exp-validator</a></li>
            </ul>
        </nav>

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- authenticate -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>18. Authenticate</h2>

                    <div class="line_titles"></div>

                    <p>
                        Con <strong>authenticate</strong> podemos restringir a
                        los usuarios el acceso a nuestros endpoints y evitar que
                        este realice acciones las cuales no tiene permitido
                        por lo que para realizarlas debe primero autenticarse.
                    </p>
                </section>

                <!-- 01 archivo authenticate.js -->
                <section class="sect_content">
                    <h4>01. Archivo authenticate.js: En este definimos la auth</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. configuracion del modulo -->
                <section class="sect_content">
                    <h4>02. Configuracion del modulo</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. configurando el header authorization -->
                <section class="sect_content">
                    <h4>03. Configurando el header authorization</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a03.png" alt="modulo">
                    </div>
                </section>

                <!-- 04. guardando el token -->
                <section class="sect_content">
                    <h4>04. Guardando el token</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a04.png" alt="modulo">
                    </div>
                </section>

                <!-- 05. Resp cuando el usuario no esta logueado -->
                <section class="sect_content">
                    <h4>05. Resp cuando el usuario no esta logueado</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a05.png" alt="modulo">
                    </div>
                </section>

                <!-- 06. validando el codigo -->
                <section class="sect_content">
                    <h4>06. Validando el codigo con postman</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a08.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. requerimiento del archivo authenticate.js -->
                <section class="sect_content">
                    <h4>01. Requerimiento del archivo authenticate.js</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a06.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. metodo verify -->
                <section class="sect_content">
                    <h4>02. Metodo verify: Permite verificar la validez del token</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a07.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. validando el codigo -->
                <section class="sect_content">
                    <h4>03. Validando el codigo con postman</h4>

                    <div class="box_img">
                        <img src="./assests/images/authenticate/a10.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Authenticate</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>