<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>05. Credenciales</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- credenciales mongo -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>05. Credenciales</h2>

                    <div class="line_titles"></div>

                    <p>
                        Estas son requeridas por las bases de datos
                        para la conexion, los datos comunmente requeridos
                        son <strong>user password name-db table</strong>
                        y la <strong>url de conexion</strong>
                    </p>
                </section>

                <!-- 01 ingresando a mongo atlas -->
                <section class="sect_content">
                    <h4>01. Ingresando a mongo atlas</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/m01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. seleccionar todos los clousters -->
                <section class="sect_content">
                    <h4>02. Seleccionar todos los clousters</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/m02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. ir al panel de clousters -->
                <section class="sect_content">
                    <h4>03. Ir al panel de clousters</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/m03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. accediendo a la base de datos -->
                <section class="sect_content">
                    <h4>01. Accediendo a la base de datos</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/m04.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. nombre de usuario -->
                <section class="sect_content">
                    <h4>02. Nombre de usuario: Requerido para la conexion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/m05.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. zona de password -->
                <section class="sect_content">
                    <h4>03. Zona de password: Requerido para la conexion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/m06.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. accediendo a las colecciones -->
                <section class="sect_content">
                    <h4>01. Accediendo a las colecciones</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/x01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. nombre de la base de datos -->
                <section class="sect_content">
                    <h4>02. Nombre de la base de datos: Requerido para la conexion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/x02.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. accediendo a la conexion -->
                <section class="sect_content">
                    <h4>01. Accediendo a la conexion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/z01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. conectando la aplicacion -->
                <section class="sect_content">
                    <h4>02. Conectando la aplicacion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/z02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. url de conexion -->
                <section class="sect_content">
                    <h4>03. Url de conexion: Requerido para la conexion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/z03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01 ingresando al panel del xamp -->
                <section class="sect_content">
                    <h4>01. Ingresando al panne del xamp</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/c01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. nombre de la base de datos -->
                <section class="sect_content">
                    <h4>02. Nombre de la base de datos: Requerido para la conexion</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/c02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. schema de la tabla -->
                <section class="sect_content">
                    <h4>03. Schema de la tabla</h4>

                    <div class="box_img">
                        <img src="./assests/images/credenciales/c03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Credenciales</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>