<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>14. Crud mysql</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- crud mysql -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>14. Crud mysql</h2>

                    <div class="line_titles"></div>

                    <p>
                        Este nos permite <strong>enviar obtener eliminar o editar</strong>
                        informacion almacenada en una <strong>data base</strong> por medio
                        de <strong>querys</strong> que vienen siendo las consultas realizadas
                        por un usuario.
                    </p>
                </section>

                <!-- 01 metodo post -->
                <section class="sect_content">
                    <h4>01. Metodo post: Permite almacenar enviar un dato</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/p01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. validando el endpoint -->
                <section class="sect_content">
                    <h4>02. Validando el endpoint con postman</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/p02.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. metodo get -->
                <section class="sect_content">
                    <h4>01. Metodo get: Permite obtner un dato</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/g01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. validando el endpoint -->
                <section class="sect_content">
                    <h4>02. Validando el endpoint con postman</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/g02.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. metodo get/:id -->
                <section class="sect_content">
                    <h4>01. Metodo get/:id: Permite obtener un solo dato</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/i01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. validando el endpoint -->
                <section class="sect_content">
                    <h4>02. Validando el endpoint con psotman</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/i02.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. metodo delete/:id -->
                <section class="sect_content">
                    <h4>01. Metodo delete/:id: Permite eliminar un dato</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/d01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. validando el endpoint -->
                <section class="sect_content">
                    <h4>02. Validando el endpoint con postman</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/d02.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. metodo update/:id -->
                <section class="sect_content">
                    <h4>01. Metodo update/:id: permite editar un dato</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/u01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. metodo update/:id part 2 -->
                <section class="sect_content">
                    <h4>02. Metodo update/:id part 2</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/u02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. validando el endpoint -->
                <section class="sect_content">
                    <h4>03. Validando el endpoint con postman</h4>

                    <div class="box_img">
                        <img src="./assests/images/crudmysql/u03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Crud Mysql</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>