<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<h2>Vercel</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Es una herramienta que nos permite guardar nuestro
						proyecto
						<strong>backend</strong> en un servidor en la nuve, este
						a diferencia del servicio ofrecido para el
						<strong>frontend</strong>
						siempre estara activo a las peticiones realizadas por el
						cliente.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->

					<section class="sect_content">
						<h3>01. Generando el comando start</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/vercel/v01.png"
								alt="generando el comando start"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Archivo vercel.json</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/vercel/v02.png"
								alt="archivo vercel.json"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Creando un proyecto en vercel</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/vercel/v03.png"
								alt="creando un proyecto en vercel"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Seleccionando el repositorio de github</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/vercel/v04.png"
								alt="seleccionando el repositorio de github"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Realizando la importacion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/vercel/v05.png"
								alt="realizando la importacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Despliegue exitoso</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/vercel/v06.png"
								alt="Despliegue exitoso"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Vercel - Deploy</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
