<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<h2>Heroku</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Es una herramienta que nos permite guardar nuestro
						proyecto
						<strong>backend</strong> en un servidor en la nuve, este
						a diferencia del servicio ofrecido para el
						<strong>frontend</strong>
						siempre estara activo a las peticiones realizadas por el
						cliente.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->

					<section class="sect_content">
						<h3>01. Generando el comando start</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/b01.png"
								alt="generando el comando start"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Crear la aplicacion en heroku</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a01.png"
								alt="crear la aplicacion en heroku"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Definir el nombre de la aplicacion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a02.png"
								alt="definir el nombre de la aplicacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Trasladando las variables de entorno</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a03.png"
								alt="trasladando las variables de entorno"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Nombre del proyecto requerido por heroku</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a04.png"
								alt="nombre del proyecto requerido por heroku"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Haciendo el deploy con github</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a05.png"
								alt="haciendo el deploy con github"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Seleccionando la rama</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a06.png"
								alt="seleccionando la rama"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Deploy exitoso</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a07.png"
								alt="deploy exitoso"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Url de nuestro servidor</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/deploy/heroku/a08.png"
								alt="url de nuestro servidor"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Heroku - Deploy</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
