<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Config</h2>

					<!--  
						banner_line_titles: esta tag la definimos para crear la
						linea del titulo
					-->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Para trabajar con <strong>ejs</strong> primero debemos
						realizar la configuracion de la ruta de los archivos
						estaticos y posteriormente la configuracion del motor de
						plantillas seguido de la ruta donde definiremos las
						vistas. Para realizar esta configuracion es importante
						hacer uso del modulo <strong>path</strong>
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<h3>01. Configuracion de los archivos estaticos</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/ejs/config/c01.png"
								alt="configuracion de los archivos estaticos"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Configuracion de las vista ejs</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/ejs/config/c02.png"
								alt="configuracion de las vista ejs"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Config - Ejs</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
