<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Messages</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Estos nos permiten brindarle al usuario una guia
						informativa de las acciones que debe realzar. Para ello,
						el middleware toma la variables generada luego de la
						accion en el endpoint y comparte el valor almacenado en
						esta directamente con la vista.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Middleware de mensajes</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/m01.png"
								alt="middleware de mensajes"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Definiendo variables y valores</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/m02.png"
								alt="definiendo variables y valores"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Implementando variable en la vista</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/m03.png"
								alt="implementando variable en la vista"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Validando en el navegador</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/m04.png"
								alt="validando en el navegador"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Middleware de mensajes</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/v01.png"
								alt="middleware de mensajes"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Connect-flash con express-validator</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/v02.png"
								alt="Connect-flash con express-validator"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>07. Implementando variable en la vista</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/v03.png"
								alt="implementando variable en la vista"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>08. Validando en el navegador</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/messages/v04.png"
								alt="validando en el navegador"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">
						Messages - Connect - Flash
					</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
