<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Install</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Este modulo nos permite crear y guardar mensajes en
						memoria que pueden ser compartidos desde cualquier
						vista, ruta o endpoints, lo que nos permite notificar a
						los usuarios de posibles errores por medio de alertas.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3, 1 tag-p y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Instalando conenct-flash</h3>

						<!--  
							tag-p: definida para declarar el codigo en ejecucion
						-->
						<p class="code_box">
							<span>> </span><strong>npm </strong>install
							connect-flash
						</p>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/install/f01.png"
								alt="instalando conenct-flash"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion de la instalacion</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/install/f02.png"
								alt="validacion de la instalacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Requerimiento y uso de connect-flash</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/flash/install/f03.png"
								alt="requerimiento y uso de connect-flash"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">
						Install - Connect - Flash
					</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
