<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>25. Heroku</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- heroku -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>25. Heroku</h2>

                    <div class="line_titles"></div>

                    <p>
                        Es una herramienta que nos permite guardar nuestro proyecto 
                        <strong>backend</strong> en un servidor en la nuve, este a 
                        diferencia del servicio ofrecido para el <strong>frontend</strong>
                        siempre estara activo a las peticiones realizadas por el cliente.
                    </p>
                </section>

                <!-- 01. generando el comando start -->
                <section class="sect_content">
                    <h4>01. Generando el comando start en package.json</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/b01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. crear la aplicacion en heroku -->
                <section class="sect_content">
                    <h4>02. Crear la aplicacion en heroku</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a01.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. definir el nombre de la aplicacion -->
                <section class="sect_content">
                    <h4>03. Definir el nombre de la aplicacion</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a02.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. trasladando las variables de entorno -->
                <section class="sect_content">
                    <h4>01. Trasladando las variables de entorno</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a03.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. nombre del proyecto requerido por heroku -->
                <section class="sect_content">
                    <h4>02. Nombre del proyecto requerido por heroku</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a04.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. haciendo el deploy con github -->
                <section class="sect_content">
                    <h4>03. Haciendo el deploy con github</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a05.png" alt="modulo">
                    </div>
                </section>

                <!-- 04. seleccionando la rama -->
                <section class="sect_content">
                    <h4>04. Seleccionando la rama</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a06.png" alt="modulo">
                    </div>
                </section>

                <!-- 05. deploy con exito -->
                <section class="sect_content">
                    <h4>05. Deploy con exito</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a07.png" alt="modulo">
                    </div>
                </section>

                <!-- 06. url de nuestro servidor -->
                <section class="sect_content">
                    <h4>06. Url de nuestro servidor</h4>

                    <div class="box_img">
                        <img src="./assests/images/heroku/a08.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Heroku</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>