<!DOCTYPE html>
<html lang="es">
	<head>
		<!--  
			_incluimos nuestro parcial head.ejs definido en la carpeta
			_partials
		-->
		<%- include('../partials/head'); %>
	</head>
	<body>
		<!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
		<header class="header_component" id="header-component">
			<!--  
				_incluimos nuestro parcial header.ejs definido en la 
				_carpeta partials
			-->
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
				.nav_component: contenedor de la sesion, definimos un ID 
				.para implementar este elemento en './src/js/main.js'
			-->
			<nav class="nav_component" id="menu-nav">
				<!--  
					_incluimos nuestro parcial navbar.ejs definido en la 
					_carpeta partials
				-->
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
				main_components: contenedor de banner_component,
				description_component y de footer_component
			-->
			<main class="main_components">
				<!--  
					.banner_component: contenedor de la sesion, contiene 
					.1 1 tag-h1
				-->
				<section class="banner_component">
					<!--  
						hag-h1: en esta definimos el titulo de la tecnologia
					-->
					<h1>¿ Que es <span>node</span> ?</h1>
				</section>

				<!--  
					.description_component: contenedor de la sesion, contiene
					.a description_paragraph
				-->
				<div class="description_component">
					<!--  
						description_paragraph: en esta definimos un parrafo 
						de descripcion
					-->
					<p class="description_paragraph">
						Es un sistema de gestion de datos el cual nos permite
						guardar informacion en tablas, estas tablas tambien
						conocidas como colecciones se componen de filas y
						columnas y pueden ser relacionadas entre si.
					</p>

					<p class="description_paragraph">
						En esta documentacion veremos como se crean y se
						manipulan las bases de datos en mysql, tambien veremos
						como se crea una tabla y aprenderemos a insertar,
						consultar, editar y eliminar datos utilizando la consola
						de comandos CMD.
					</p>
				</div>

				<!--  
					section_footer
				-->
				<footer class="section_footer">
					&copy; Jefferson Salazar 2022
				</footer>
			</main>
		</div>

		<!--  
			definicion de los custom js
		-->
		<script src="../../js/main.js"></script>
	</body>
</html>
