<!DOCTYPE html>
<html lang="es">
	<head>
		<!--  
			_incluimos nuestro parcial head.ejs definido en la carpeta
			_partials
		-->
		<%- include('../partials/head'); %>
	</head>
	<body>
		<!--  
			.header_component: contenedor de la sesion, definimos un ID
			.para implementar este elemento en './src/js/main.js'
		-->
		<header class="header_component" id="header-component">
			<!--  
				_incluimos nuestro parcial header.ejs definido en la 
				_carpeta partials
			-->
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
				.nav_component: contenedor de la sesion, definimos un ID 
				.para implementar este elemento en './src/js/main.js'
			-->
			<nav class="nav_component" id="menu-nav">
				<!--  
					_incluimos nuestro parcial navbar.ejs definido en la 
					_carpeta partials
				-->
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
				main_components: contenedor de banner_component,
				description_component y de footer_component
			-->
			<main class="main_components">
				<!--  
					.banner_component: contenedor de la sesion, contiene 
					.1 1 tag-h1
				-->
				<section class="banner_component">
					<!--  
						hag-h1: en esta definimos el titulo de la tecnologia
					-->
					<h1>¿ Que es <span>NodeJs</span> ?</h1>
				</section>

				<!--  
					.description_component: contenedor de la sesion, contiene
					.a description_paragraph
				-->
				<div class="description_component">
					<!--  
						description_paragraph: en esta definimos un parrafo 
						de descripcion
					-->
					<p class="description_paragraph">
						Es un entorno de ejecución de javascript del lado del servidor que en lugar de ser interpretado y ejecutado directamente por el navegador es ejecutado desde el propio servidor.
					</p>

					<p class="description_paragraph">
						<strong>NodeJs </strong> es de código abierto y está basado en el motor v8 de Google Chrome lo cual le permite ser mas rápido y eficiente al momento de ejecutar código javascript.
						Además de que es conocido por su naturaleza asincrónica, lo cual le permite manejar múltiples operaciones de manera simultánea sin bloquear el hilo principal de ejecución.

					</p>
				</div>

				<!--  
					incluimos el partial footer.ejs
				-->
				<%- include('../partials/footer', titleSection = "Created by Jefferson Salazar 2024") %>
			</main>
		</div>

		<script type="module" src="./js/main.js"></script>
	</body>
</html>
