<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<h2>Authorizations</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Las autorizaciones nos permiten restringirle a los
						usuarios el acceso a nuestros endpoints sin antes
						haberse autenticado como tambien evita que este realice
						acciones para las cuales no tiene autorizacion.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->

					<section class="sect_content">
						<h3>01. Middleware authenticate.js</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a01.png"
								alt="Middleware authenticate.js"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Exportacion del modulo</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a02.png"
								alt="exportacion del modulo"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Configurando el header authorization</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a03.png"
								alt="configurando el header authorization"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Extrayendo y almacenando el token</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a04.png"
								alt="extrayendo y almacenando el token"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. El usuario no cuenta con autorizacion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a05.png"
								alt="el usuario no cuenta con autorizacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Importacion del middleware authenticate.js</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a06.png"
								alt="importacion del middleware authenticate.js"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>07. Validando el codigo con postman</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a08.png"
								alt="validando el codigo con postman"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Verificacion del token</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a07.png"
								alt="verificacion del
							token"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validando el codigo con postman</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/authenticate/a10.png"
								alt="validando el codigo con postman"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Authorizations - Jwt</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
