<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Sign</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Nos permite generar un <strong>token</strong> de
						autentificacion el cual nos ayuda a validar la
						autenticidad de un usuario. Cabe destacar que estos
						tokens deben expirar para evitar la usurpacion de
						usuarios.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Requerimiento de jsonwebtoken</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="./assets/images/jsonwebtoken/sign/j03.png"
								alt="requerimiento de jsonwebtoken"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							02. Implementacion de jwt - jasonwebtoken.sign()
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/jsonwebtoken/sign/j04.png"
								alt="implementacion de jwt"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Definiendo la respuesta del servidor</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/jsonwebtoken/sign/j05.png"
								alt="definiendo la respuesta del servidor"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Validacion del token</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/jsonwebtoken/sign/j06.png"
								alt="validacion del token"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Comprobando validez - token invalido</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/jsonwebtoken/sign/j07.png"
								alt="comprobando la validez"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Ingresando firma - token valido</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/jsonwebtoken/sign/j08.png"
								alt="ingresando firma"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Sign - Jwt</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
