<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>09. Middlewares</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- middlewares -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>09. Middlewares</h2>

                    <div class="line_titles"></div>

                    <p>
                        Estos nos ayudan en la configuracion de nuestro proyecto
                        permitiendonos recibir la informacion de manera correcta
                        facilitando asi la comunicacion entre el <strong>backend</strong>
                        y el <strong>frontend</strong>
                    </p>
                </section>

                <!-- 01 express.json -->
                <section class="sect_content">
                    <h4>01. Express.json: Convierte la informacion a formato .json</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/j01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. express.urlencoded -->
                <section class="sect_content">
                    <h4>02. Express.urlencoded: Permite recibir los datos de un formulario</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/u01.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. modulo npm i cors -->
                <section class="sect_content">
                    <h4>01. Modulo npm i cors: Permite la conexion entre Back y Front</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/c01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. validacion de la instalacion -->
                <section class="sect_content">
                    <h4>02. Validacion de la instalacion</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/c02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. requerimiento de cors -->
                <section class="sect_content">
                    <h4>03. Requerimiento de cors</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/c03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">
                    -------------------- End --------------------
                </div>

                <!-- 01. modulo npm i morgan -->
                <section class="sect_content">
                    <h4>01. Modulo npm i morgan: Permite conocer las peticiones Http</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/m01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. validacion de la instalacion -->
                <section class="sect_content">
                    <h4>02. Validacion de la instalacion</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/m02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. requerimiento de morgan -->
                <section class="sect_content">
                    <h4>03. Requerimiento de morgan</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/m03.png" alt="modulo">
                    </div>
                </section>

                <!-- 04. respuesta los requerimientos del front -->
                <section class="sect_content">
                    <h4>04. Respuesta los requerimientos del front</h4>

                    <div class="box_img">
                        <img src="./assests/images/middlewares/m04.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Middlewares</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>