<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Schema</h2>

					<!--  
						banner_line_titles: esta tag la definimos para crear la
						linea del titulo
					-->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Los datos en <strong>mongoDB</strong> se guardan en
						documentos los cuales deben contar con un esquema
						definido. En el esquema definimos campos y propiedades
						con los cuales estipulamos la manera en que los datos
						seran recibidos.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<h3>01. Archivo para definir el schema</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/schema/s01.png"
								alt="archivo para definir el schema"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Requerimiento de la conexion y mongoose</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/schema/s02.png"
								alt="requerimiento de la conexion y mongoose"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Definicion del schema</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/schema/s03.png"
								alt="definicion del schema"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Schema - MongoDB</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
