<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Credenciales</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Nos ayudan a realizar una conexion con una base de datos
						en la nube y para ello <strong>MongoDB Atlas</strong>
						requiere el nombre de usuario, una contraseña, el nombre
						de la base de datos y finalmente la url de conexion.
						Tambien es importante tener presente el nombre de las
						colecciones el cual sera requerido para realizar las
						consultas.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Ingresando a mongo atlas</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/m01.png"
								alt="ingresando a mongo atlas"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Seleccionar todos los clousters</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/m02.png"
								alt="seleccionar todos los clousters"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Accediendo a la base de datos</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/m04.png"
								alt="accediendo a la base de datos"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Creando el usuario</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/m05.png"
								alt="creando el usuario"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Definiendo la contraseña</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/m06.png"
								alt="Definiendo la contraseña"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Accediendo a las colecciones</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/x01.png"
								alt="accediendo a las colecciones"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>07. Creando la base de datos</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/x02.png"
								alt="creando la base de datos"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>08. Accediendo a la conexion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/z01.png"
								alt="accediendo a la conexion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>09. Conectando la aplicacion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/z02.png"
								alt="conectando la aplicacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>10. Obteniendo la url de conexion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/mongoDB/credenciales/z03.png"
								alt="obteniendo la url de conexion"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">
						Credenciales - MongoDB
					</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
