<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Credenciales</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Nos ayudan a realizar una conexion con nuestra base de
						datos local y para ello <strong>MySQL</strong> requiere
						una url de conexion, el nombre de usuario, una
						contraseña y el nombre de la base de datos. Tambien es
						importante tener presente el nombre de las tablas el
						cual sera requerido para realizar las consultas.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. MySQL desde xampp</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="./assets/images/credenciales/c01.png"
								alt="MySQL desde xampp"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Creando la base de datos</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/credenciales/c02.png"
								alt="creando la base de datos"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Creando una tabla con su esquema</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/credenciales/c03.png"
								alt="Creando una tabla con su esquema"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Credenciales - MySQL</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
