<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Crud</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Nos permite crear, leer, actualizar y eliminar
						informacion almacenada en la base de datos por medio de
						consultas <strong>query</strong> Por lo general el
						usuario hace una peticion a un endpoint el cual puede
						requerir o no requerir datos para realizar estas
						operaciones.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<h3>01. Guardando un registro - POST</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/p01.png"
								alt="guardando un registro - POST"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion del endpoint</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/p02.png"
								alt="validacion del endpoint"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Obtener los registros - GET</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/g01.png"
								alt="obtener los registros - GET"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion del endpoint</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/g02.png"
								alt="validacion del endpoint"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Obtener un registro por su ID - GET</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/i01.png"
								alt="obtener un registro por su ID - GET"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion del endpoint</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/i02.png"
								alt="validacion del endpoint"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Actualizando un registro - PUT</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/u01.png"
								alt="actualizando un registro - PUT"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion del endpoint</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/u03.png"
								alt="validacion del endpoint"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>01. Eliminando un registro por su ID - DELETE</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/d01.png"
								alt="eliminando un registro por su ID - DELETE"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion del endpoint</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/crudmysql/d02.png"
								alt="validacion del endpoint"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Crud - MySQL</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
