<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Routes</h2>

					<!--  
						banner_line_titles: esta tag la definimos para crear la
						linea del titulo
					-->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Para definir nuestras rutas primero debemos crear un
						archivo en el cual solicitamos la conexion a la base de
						datos seguido del requerimiento de un modulo de
						<strong>express</strong> y finalmente realizamos la
						exportacion e implementacion de este archivo.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<h3>01. Archivo para definir las rutas</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/rutas/r01.png"
								alt="archivo para definir las rutas"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							02. Requerimiento de la conexion y express.Router()
						</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/rutas/r02.png"
								alt="requerimiento de la conexion y express.Router()"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Requerimiento y uso de las rutas</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/rutas/r03.png"
								alt="requerimiento y uso de las rutas"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Routes - MySQL</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
