<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Nodemon</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Nos permite guardar de manera automatica los cambios que
						se generan en nuestro proyecto a lo largo de su
						desarrollo evitando asi, tener que ejecutar el comando
						<strong>node</strong>
						por cada cambio que realicemos.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Instalando nodemon - npm i nodemon -D</h3>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->
						<div class="sect_box_img">
							<img
								src="./assets/images/nodemon/n01.png"
								alt="instalando nodemon"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion de la instalacion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/nodemon/n02.png"
								alt="validacion de la instalacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Ejecucion de nodemon</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/nodemon/n03.png"
								alt="ejecucion de nodemon"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Validacion en el navegador</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/nodemon/n04.png"
								alt="validacion en el navegador"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Nodemon</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
