<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>08. Rutas</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- schema -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>08. Rutas</h2>

                    <div class="line_titles"></div>

                    <p>
                        En este archivo definimos los endpoints de nuestra
                        <strong>api</strong> en este primer apartado solo veremos
                        como realizar la configuracion y posterior requerimiento
                        de este archivo.
                    </p>
                </section>

                <!-- 01 archivo auth.js -->
                <section class="sect_content">
                    <h4>01. Archivo auth.js: En este definimos las rutas</h4>

                    <div class="box_img">
                        <img src="./assests/images/rutas/r01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. requerimiento de express.Router -->
                <section class="sect_content">
                    <h4>02. Requerimiento de express.Router</h4>

                    <div class="box_img">
                        <img src="./assests/images/rutas/r02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. Implementando el archivo auth.js -->
                <section class="sect_content">
                    <h4>03. Implementando el archivo auth.js</h4>

                    <div class="box_img">
                        <img src="./assests/images/rutas/r03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Routes</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>