<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>07. Schema</title>
    <link rel="stylesheet" href="./sass/style.css" />
</head>

<body>
    <!-- CABECERA -->
    <header class="box_header">
        <div class="box_logo">
            <a href="index.html">
                <img src="assests/images/node.png" alt="node">
            </a>
        </div>

        <div class="box_icon_menu" id="icon_menu">
            <span class="line_icon_menu"></span>
        </div>
    </header>


    <!-- CONTENEDOR PRINCIPAL -->
    <main>

        <!-- MENU -->

        <!-- CONTENIDO -->
        <div class="div_content">

            <!-- schema -->
            <section class="main_content" id="modules">

                <!-- descripcion de la sesion -->
                <section class="box_description">
                    <h2>07. Schema</h2>

                    <div class="line_titles"></div>

                    <p>
                        El <strong>schema</strong> es igual a la estructura
                        que definimos en la <strong>data base</strong> en esta
                        podemos incluir validaciones a los diferentes campos los
                        cuales deberan ser cumplidos por el usuario.
                    </p>
                </section>

                <!-- 01 archivo auth.js -->
                <section class="sect_content">
                    <h4>01. Archivo auth.js: En este definimos el schema</h4>

                    <div class="box_img">
                        <img src="./assests/images/schema/s01.png" alt="modulo">
                    </div>
                </section>

                <!-- 02. requerimiento de Schema y model -->
                <section class="sect_content">
                    <h4>02. Requerimiento de Schema y model</h4>

                    <div class="box_img">
                        <img src="./assests/images/schema/s02.png" alt="modulo">
                    </div>
                </section>

                <!-- 03. creando el schema -->
                <section class="sect_content">
                    <h4>03. Creando el schema con new Schema</h4>

                    <div class="box_img">
                        <img src="./assests/images/schema/s03.png" alt="modulo">
                    </div>
                </section>

                <div class="line_endsession">End Schema</div>
            </section>
        </div>
    </main>

    <script src="./js/main.js"></script>
</body>

</html>