<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<!--  
                        tag-h2: en esta definimos el titulo del banner
                    -->
					<h2>Variables</h2>

					<!--  
						banner_line_titles: esta tag la definimos para crear la
						linea del titulo
					-->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Estas se crean mediante acciones. Ejemplo el login de
						acceso, el cual crea la variable de sesion y almacena un
						valor de interes, esta puede ser accedida por uno o
						varios endpoints que la comparten con la vista la cual
						finalmente muestra la informacion.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<h3>01. Guardando valores en variables de session</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/session/variables/v01.png"
								alt="guardando valores en variables de session"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Accediendo a las variables de session</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/session/variables/v02.png"
								alt="accediendo a las variables de session"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Implementando variable en la vista</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/session/variables/v03.png"
								alt="implementando variable en la vista"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Validando en el navegador</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/session/variables/v04.png"
								alt="validando en el navegador"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>
							05. Token de autorizacion con variables de session
						</h3>

						<div class="sect_box_img">
							<img
								src="../../assets/images/session/variables/v05.png"
								alt="Token de autorizacion con variables de session"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">
						Variables - Express - Session
					</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
