<!DOCTYPE html>

<html lang="es">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body>
		<!--  
            .header_component: contenedor de la sesion, definimos un ID
            .para implementar este elemento en './src/js/main.js'
        -->
		<header class="header_component" id="header-component">
			<%- include('../partials/header'); %>
		</header>

		<!--  
            components_container: contenedor de nav_component y de main_components
        -->
		<div class="components_container">
			<!--  
                .nav_component: contenedor de la sesion, definimos un ID 
                .para implementar este elemento en './src/js/main.js'
            -->
			<nav class="nav_component" id="menu-nav">
				<%- include('../partials/navbar'); %>
			</nav>

			<!--  
                main_components: contenedor de section_banner,
                section_container y 1 tag-footer
            -->
			<main class="main_components">
				<!--  
                    section_banner: contenedor de 1 tag-h2, de banner_line_titles
                    y 1 tag-p
                -->
				<section class="section_banner">
					<h2>Express-validator</h2>

					<!--  
                        banner_line_titles: esta tag la definimos para crear la
                        linea del titulo
                    -->
					<div class="banner_line_titles"></div>

					<!--  
                        tag-p: en esta definimos el parrafo de la seccion
                    -->
					<p>
						Este modulo nos permite realizar validaciones a los
						campos de un formulario con esto nos aseguramos que el
						usuario ingrese informacion detallada evitando con esto
						guardar en la base de datos informacion innecesarios.
					</p>
				</section>

				<!--  
                    sections_container: contenedor de las secciones que componen
                    esta vista
                -->
				<div class="sections_container">
					<!--  
						sect_content: contenedor de 1 tag-h3 y de sect_box_img
					-->
					<section class="sect_content">
						<!--  
							tag-h3: en esta definimos el titulo de la seccion
						-->
						<h3>01. Instalando express-validator</h3>

						<!--  
							tag-p: definida para declarar el codigo en ejecucion
						-->
						<p class="code_box">
							<span>> </span><strong>npm </strong>i
							express-validator
						</p>

						<!--  
							sect_box_img: contenedor de 1 tag-img
						-->

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/e01.png"
								alt="instalando express-validator"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>02. Validacion de la instalacion</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/e02.png"
								alt="validacion de la instalacion"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>03. Middleware v-auth.js</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/x01.png"
								alt="middleware v-auth.js"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>04. Definicion de validaciones</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/v01.png"
								alt="definicion de validaciones"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>05. Otras validaciones</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/z01.png"
								alt="otras validaciones"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>06. Implementacion directa</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/z02.png"
								alt="implementacion directa"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>07. Requerimiento del middleware</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/v02.png"
								alt="requerimiento del middleware"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>08. Implementacion por requerimiento</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/v03.png"
								alt="implementacion por requerimiento"
							/>
						</div>
					</section>

					<section class="sect_content">
						<h3>09. Respuesta del servidor</h3>

						<div class="sect_box_img">
							<img
								src="./assets/images/validations/exp-validator/v04.png"
								alt="respuesta del servidor"
							/>
						</div>
					</section>

					<!--  
                        section_footer
                    -->
					<footer class="section_footer">Exp-Validator - Node</footer>
				</div>
			</main>
		</div>

		<script src="./js/main.js"></script>
	</body>
</html>
