<!--  
	header_container: contenedor de header_box_logo 
	y de header_box_menu_icon
-->
<div class="header_container">
	<!--  
		header_box_logo: contenedor de 1 tag-a
	-->
	<div class="header_box_logo">
		<!--  
			tag-a: esta la definimos para realizar el 
			redireccionamiento a la pagina inicial
		-->
		<a href="/">
			<!--  
				tag-img: en esta definimos el logo de javascript
			-->
			<img src="../../assets/images/logos/node.png" alt="logo node" />
		</a>
	</div>

	<!--  
		header_box_menu_icon: contenedor de 1 tag-span, definimos
		un ID para implementar este elemento en './src/js/main.js'
	-->
	<div class="header_box_menu_icon" id="header-menu-icon">
		<!--  
			tags-span: en estas definimos las lienas del menu 
			hamburguesa
		-->
		<span class="line_top"></span>
		<span class="line_center"></span>
		<span class="line_bottom"></span>
	</div>
</div>
