<!--  
	search_box: contenedor de 1 tag-input y 1 tag-a
-->
<div class="search_box">
	<!--  
		tag-input: en esta definimos el buscador
	-->
	<input type="text" name="search" placeholder="Buscar" />

	<!--  
		tag-a: contiene 1 tag-svg
	-->
	<a href="#" class="search_btn">
		<!--  
			tag-svg: en esta definimos el icono del buscador
		-->
		<svg viewBox="0 0 24 24">
			<path
				d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
			></path>
		</svg>
	</a>
</div>

<!--  
	nav_menu: en esta definimos los items del menu de navegacion
-->
<ul class="nav_menu">
	<!--  
		li_dropdown: contenedor de 1 tag-a
	-->
	<li class="li_dropdown">
		<a href="/start">01. Start</a>
	</li>

	<!--  
		li_dropdown: contenedor de 1 tag-a y 1 tag-ul, la clase
		li_dropdown se implementa en javascript
	-->
	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			02. Express

			<!--          
				tag-svg: en este definimos el icono del del item
			-->
			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<!--  
			:dropdown_menu: en esta definimos el menu de 
			:navegacion interno
		-->
		<ul class="dropdown_menu">
			<li><a href="/express-install">a. Install</a></li>

			<li><a href="/express-server">b. Server</a></li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/nodemon">03. Nodemon</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			04. Middlewares

			<!--          
				tag-svg: en este definimos el icono del del item
			-->
			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/middlewares-urlencoded">a. Urlencoded</a></li>

			<li><a href="/middlewares-json">b. Json</a></li>

			<li><a href="/middlewares-cors">c. Cors</a></li>

			<li><a href="/middlewares-morgan">d. Morgan</a></li>

			<li><a href="/middlewares-404">e. 404</a></li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			05. Ejs

			<!--          
				tag-svg: en este definimos el icono del del item
			-->
			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/ejs-install">a. Install</a></li>

			<li><a href="/ejs-config">b. Config</a></li>

			<li><a href="/ejs-partials">c. Partials</a></li>

			<li><a href="/ejs-variables">d. Variables</a></li>

			<li><a href="/ejs-condicionales">e. Condicionales</a></li>

			<li><a href="/ejs-ciclos">f. Ciclos</a></li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/environments">06. Environments</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			07. Validations

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/validations-exp-validator">a. Exp-validator</a>
			</li>

			<li>
				<a href="/validations-querys">b. Querys</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			08. Bcryptjs

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/bcrypt-install">a. Install</a>
			</li>

			<li>
				<a href="/bcrypt-hash">b. Hash</a>
			</li>

			<li>
				<a href="/bcrypt-compare">c. Compare</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			09. Jsonwebtoken

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/jsonwebtoken-install">a. Install</a>
			</li>

			<li>
				<a href="/jsonwebtoken-sign">b. Sign</a>
			</li>

			<li>
				<a href="/jsonwebtoken-verify">c. Verify</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/controllers">10. Controllers</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			11. Express-session

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/session-install">a. Install</a></li>

			<li>
				<a href="/session-variables">b. Variables</a>
			</li>

			<li>
				<a href="/session-destroy">c. Destroy</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			12. Connect-flash

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/flash-install">a. Install</a></li>

			<li>
				<a href="/flash-messages">b. Messages</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#">13. Passport</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			14. MySQL

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/mysql-credenciales">a. Credenciales</a></li>

			<li>
				<a href="/mysql-connection">b. Connection</a>
			</li>

			<li>
				<a href="/mysql-routes">c. Routes</a>
			</li>

			<li>
				<a href="/mysql-auth">d. Auth</a>
			</li>

			<li>
				<a href="/mysql-crud">e. Crud</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			15. MongoDB

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/mongodb-credenciales">a. Credenciales</a></li>

			<li>
				<a href="/mongodb-connect">b. Connect</a>
			</li>

			<li>
				<a href="/mongodb-schema">c. Schema</a>
			</li>

			<li>
				<a href="/mongodb-routes">d. Routes</a>
			</li>

			<li>
				<a href="/mongodb-auth">e. Auth</a>
			</li>

			<li>
				<a href="/mongodb-crud">f. Crud</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/nodemailer">16. Nodemailer</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			17. Deploy

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/deploy-vercel">a. Vercel</a>
			</li>

			<li>
				<a href="/deploy-reeleway">b. Reeleway</a>
			</li>

			<li>
				<a href="/deploy-heroku">c. Heroku</a>
			</li>
		</ul>
	</li>
</ul>
