<!--  
	search_box: contenedor de 1 tag-input y 1 tag-a
-->
<div class="search_box">
	<!--  
		tag-input: en esta definimos el buscador
	-->
	<input type="text" name="search" placeholder="Buscar" />

	<!--  
		tag-a: contiene 1 tag-svg
	-->
	<a href="#" class="search_btn">
		<!--  
			tag-svg: en esta definimos el icono del buscador
		-->
		<svg viewBox="0 0 24 24">
			<path
				d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
			></path>
		</svg>
	</a>
</div>

<!--  
	nav_menu: en esta definimos los items del menu de navegacion
-->
<ul class="nav_menu">
	<!--  
		li_dropdown: contenedor de 1 tag-a
	-->
	<li class="li_dropdown">
		<a href="/start-node">01. Inicio</a>
	</li>

	<!--  
		li_dropdown: contenedor de 1 tag-a y 1 tag-ul, la clase
		li_dropdown se implementa en javascript
	-->
	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			02. Express

			<!--          
				tag-svg: en este definimos el icono del del item
			-->
			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<!--  
			:dropdown_menu: en esta definimos el menu de 
			:navegacion interno
		-->
		<ul class="dropdown_menu">
			<li><a href="/express-install">a. Instalacion</a></li>

			<li><a href="/express-server">b. Servidor</a></li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/nodemon">03. Nodemon</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			04. Middlewares

			<!--          
				tag-svg: en este definimos el icono del del item
			-->
			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/url-middleware">a. Urlencoded</a></li>

			<li><a href="/json-middleware">b. Json</a></li>

			<li><a href="/cors-middleware">c. Cors</a></li>

			<li><a href="/morgan-middleware">d. Morgan</a></li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/environments">05. Environments</a>
	</li>

	<li class="li_dropdown">
		<a href="/exp-validator">06. Exp-validator</a>
	</li>

	<li class="li_dropdown">
		<a href="/bcrypt">07. Bcryptjs</a>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			08. Jsonwebtoken

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/sign-jwt">a. Sign</a>
			</li>

			<li>
				<a href="/authorization-jwt">b. Authorizations</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			09. Credenciales

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li><a href="/mongo-credenciales">a. Mongo DB</a></li>

			<li><a href="/mysql-credenciales">b. MySQL</a></li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			10. Mysql

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/connection-mysql">a. Connection</a>
			</li>

			<li>
				<a href="/routes-mysql">b. Routes</a>
			</li>

			<li>
				<a href="/auth-mysql">c. Auth</a>
			</li>

			<li>
				<a href="/crud-mysql">d. Crud</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="#" data-toggle="dropdown">
			11. MongoDB

			<svg viewBox="0 0 24 24">
				<path
					d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"
				></path>
			</svg>
		</a>

		<ul class="dropdown_menu">
			<li>
				<a href="/connect-mongo">a. Connect</a>
			</li>

			<li>
				<a href="/schema-mongo">b. Schema</a>
			</li>

			<li>
				<a href="/routes-mongo">c. Routes</a>
			</li>

			<li>
				<a href="/auth-mongo">d. Auth</a>
			</li>

			<li>
				<a href="/crud-mongo">e. Crud</a>
			</li>
		</ul>
	</li>

	<li class="li_dropdown">
		<a href="/nodemailer">12. Nodemailer</a>
	</li>

	<li class="li_dropdown">
		<a href="/heroku">13. Heroku</a>
	</li>

	<li class="li_dropdown">
		<a href="#">14. Ejs</a>
	</li>

	<li class="li_dropdown">
		<a href="#">15. Vercel</a>
	</li>
</ul>
